@import url('base.css');
header{
	width: 100%;
	height: 4rem;
	background: url('../img/foodtype.png') no-repeat center/cover;
	display: flex;
	justify-content: flex-end;
	padding: .24rem;
	align-items: flex-start;
}
header a{
	display: block;
	color: #fff;
	font-size: .34rem;
}
.describe{
	width: 100%;
	padding: .24rem;
}
.describe h1{
	width: 2.40rem;
	font-size: .3rem;
	line-height: .5rem;
	color: #ff5a47;
	border-bottom: 3px dotted #666666;
}
.describe h2{
	font-size: .18rem;
	line-height:.42rem;
	color: #585858;
}
.price{
	width: 100%;
	height: .70rem;
	display: flex;
	justify-content: space-between;
}
.p-left{
	width: 4.5rem;
	height: 100%;
}
.star{
	width: 2.47rem;
	height: .3rem;
	position: relative;
	float: left;
}
.star-gray{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.star-yellow{
	height: .3rem;
	position: relative;
	overflow: hidden;
}
.star-yellow img{
	width: 2.47rem;
}
.p-left span{
	display: block;
	width: .5rem;
	height: .3rem;
	border-radius: .13rem;
	border: .01rem solid #ff5a47;
	font-size: .14rem;
	color: #ff5a47;
	line-height: .26rem;
	text-align: center;
	float: left;
	margin-left: .24rem;
}
.p-left h4{
	float: left;
	width: 100%;
	font-size: .14rem;
	line-height: .5rem;
	color: #ff5a47;
}
.p-left h4 i{
	font-size: .3rem;
	font-weight: 700;
}
.p-right{
	width: .6rem;
	height: 100%;
}
.p-right i{
	display: block;
	font-size: .5rem;
	line-height: .7rem;
	color: #ff4447;
	text-align: right;
}
.describe p{
	margin-top: .24rem;
	color: #a3a3a3;
	line-height: .34rem;
	font-size: .18rem;
}
.pingjia{
	font-size: .18rem;
	color: #acacac;
	line-height: .4rem;
}
/* 推荐开始 */
.tuijian{
	width: 100%;
	height: 12rem;
	background: #f2eff0;
	padding: 0 .24rem;
	margin-bottom: 1.42rem;
}
.tui-top{
	width: 100%;
	height: .74rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.tui-top img{
	display: block;
	width: 1.32rem;
	height: .14rem;
	margin: 0 .24rem;
}
.tui-top span{
	display: block;
	font-size: .28rem;
}
.tui-bottom{
	width: 100%;
	height: 11.26rem;
	overflow: hidden;
	overflow-y: auto;
}
.tui-bottom ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tui-bottom ul li{
	margin-top: .24rem;
	width: 3.4rem;
	height: 3.7rem;
	background: #fff;
	padding: 0 .24rem;
}
.tui-bottom ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.tui-bottom ul li img{
	width: 100%;
	height: auto;
	display: block;
}
.first{
	width: 100%;
	height: .68rem;
	display: flex;
	justify-content: space-between;
}
.tui-bottom ul li .first h1{
	font-size: .28rem;
	color: #585858;
	line-height: .68rem;
	font-weight: 700;
}
.tui-bottom ul li .first .select{
	width: 1.2rem;
	height: .68rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tui-bottom ul li .first .select i{
	font-size: .34rem;
	color: #ffaba3;
}
.tui-bottom ul li .first .select i.jia{
	color: #ff5f47;
}
.tui-bottom ul li .first .select span{
	font-size: .34rem;
	color: #c5c5c5;
}
.manjian{
	width: 100%;
	height: .3rem;
	display: flex;
}
.manjian span{
	display: block;
	width: .6rem;
	height: 100%;
	font-size: .24rem;
	background: #ffa0da;
	text-align: center;
	line-height: .3rem;
	color: #83506f;
}
.manjian p{
	width: 2.2rem;
	height: 100%;
	font-size: .24rem;
	color: #9e9e9e;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-indent: .5em;
}
.last{
	font-size: .18rem;
	color: #ff4533;
	display: flex;
	line-height: .6rem;
}
.last h1 i{
	font-size: .3rem;
	line-height: .6rem
}
.last s{
	color: #bcbaba;
	margin-left: .24rem;
}
/* 推荐结束 */
/* 底部开始 */
.shopping{
	width: 100%;
	height: 1.42rem;
	background: skyblue;
	position: fixed;
	left: 0;
	bottom: 0;
}
.s-top{
	width: 100%;
	height: .42rem;
	background: #fcde9d;
	color: #574b33;
	text-align: center;
	line-height: .42rem;
	font-size: .22rem;
}
.s-bottom{
	width: 100%;
	height: 1rem;
	display: flex;
	justify-content: space-between;
}
.s-b-left{
	width: 65%;
	height: 100%;
	background: #333333;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: .5rem;
}
.s-b-left h1{
	font-size: .26rem;
	color: #827f7f;
	line-height: .34rem;
	text-align: center;
}
.s-b-right{
	width: 35%;
	height: 100%;
	background: #5f5e5e;
}
.s-b-right a{
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.s-b-right h1{
	font-size: .26rem;
	color: #827f7f;
	line-height: .34rem;
	text-align: center;
}
.car{
	width: .95rem;
	height: .95rem;
	border-radius: 50%;
	background: -webkit-linear-gradient(#ff7a47, #ff3747);
	background: -o-linear-gradient(#ff7a47, #ff3747);
	background: linear-gradient(#ff7a47, #ff3747);
	position: absolute;
	top: .14rem;
	left: .24rem;
}
.car i{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	color: #fff;
	font-size: .46rem;
	text-align: center;
	line-height: .95rem;
}
/* 底部结束 