/*
* @Author: Administrator
* @Date:   2018-08-21 16:53:28
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-24 08:48:44
*/
@import url('base.css');
/* 头部开始 */
header{
	width: 100%;
	height: .98rem;
	background-image: -webkit-linear-gradient(#ff7b33, #ff3833);
	background-image: -o-linear-gradient(#ff7b33, #ff3833);
	background-image: linear-gradient(#ff7b33, #ff3833);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .24rem;
}
.position{
	color: #fff;
	font-size: .16rem;
}
.position i{
	color: #fff;
	font-size: .16rem;
	margin-right: .04rem;
}
.search{
	width: 5.20rem;
	height: .5rem;
	background: #fff;
	border-radius: .25rem;
}
.search a{
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: .25rem;
	font-size: .22rem;
	text-indent: 2em;
	line-height: .5rem;
	color: #8e8e8e;
}
.search a i{
	float: right;
	font-size: .26rem;
	margin-right: .2rem;
}
/* 头部结束 */
/* banner开始 */
/* banner结束 */
.banner{
	width: 100%;
	height: 4.48rem;
	padding: .24rem;
	position: relative;
}
.banner .banner-main{
	width: 100%;
	height: 4rem;
	position: relative;
	border-radius: .15rem;
	box-shadow: 0 .1rem .5rem .01rem rgba(0, 0, 0, .1);
}
.banner .banner-main li,.banner .banner-main li a,.banner .banner-main li a img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: .15rem;
}
.banner .banner-main li{
	width: 100%;
	height: 4rem;
	position: absolute;
	top: 0;
	left: 0;
}
.banner .point{
	width: 1.60rem;
	height: .1rem;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: .44rem;
	display: flex;
	justify-content: space-between;
}
.banner .point li,.banner .point li a{
	display: block;
	width: .4rem;
	height: 100%;
	border-radius: .05rem;
}
.banner .point li{
	background: #fff;
	opacity: .5;
}
.banner .point li.hot{
	background: #ff7547;
}
/* swipe开始 */
.swipe{
	width:100%;
	height: 4.1rem;
	padding: 0 .24rem;
}
.s-main{
	width: 100%;
	height: 1.9rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.s-main li,.s-main li a{
	display: block;
	width: 1.37rem;
	height: 1.6rem;
	text-align: center;
}
.s-main li a img{
	display: block;
	width: 1.37rem;
	height: 1.37rem;
}
.s-main li a h1{
	font-size: .22rem;
	color: #686868;
}
.w-point{
	width: 1.75rem;
	height: .06rem;
	margin: .10rem auto;
	display: flex;
	justify-content: space-between;
}
.w-point li,.w-point li a{
	display: block;
	width: .68rem;
	height: 100%;
	border-radius: .03rem;
}
.w-point li{
	border: 1px solid #ffba35;
}
.w-point li.w-hot{
	background: #ffba35;
}
/* swipe结束 */
/* 商家推荐开始 */
.business{
	width: 100%;
	height: 1.2rem;
	padding: .14rem .24rem;
}
.business h1{
	text-align: center;
	line-height: .40rem;
	font-size: .22rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.business h1 img{
	display: block;
	width: 1.32rem;
	height: .14rem;
	margin: 0 .2rem;
}
.nav{
	width: 100%;
	height: .42rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav li{
	font-size: .2rem;
	color: #6e6e6e;
	line-height: .42rem;
}
.nav li i{
	font-size: .2rem;
}
/* 商家推荐结束 */
.store{
	width: 100%;
	height: 11rem;
	background: #efecee;
	padding: .24rem .24rem 0;
	margin-bottom: 1rem;
	overflow: hidden;
	overflow-y: auto;
}
.store-list{
	width: 100%;
}
.store-list li{
	width: 100%;
	height: 2.24rem;
	border-radius: .15rem;
	margin-bottom: .24rem;
	background: #fff;
	box-shadow: 0 .1rem .5rem .01rem rgba(0, 0, 0, .1);
}
.store-list li a{
	display: block;
	width: 100%;
	height: 2.24rem;
	padding: .24rem;
	display: flex;
	justify-content: space-between;
}
.store-list li a img{
	width: 1.35rem;
	height: 1.35rem;
	float: left;
}
.s-right{
	float: left;
	height: 100%;
	margin-left: .24rem;
	width: 4.9rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}
.s-right h1{
	font-size: .24rem;
	color: #585858;
	font-weight: 700;
}
.s-right div.pj:after{
	content: "";
	width: 0;
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
}
.s-right .pj .star{
	width: 1.22rem;
	height: .29rem;
	position: relative;
	float: left;
}
.s-right .pj .star div{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.s-right .pj .star div img{
	width: 1.22rem;
	height: .29rem;
}
.s-right div.pj em{
	display: block;
	float: left;
	margin-left: .16rem;
	font-size: .18rem;
	color: #a1a1a1;
}
.s-right div.pj s{
	display: block;
	float: left;
	text-decoration: none;
	margin-left: .16rem;
	font-size: .18rem;
	color: #a1a1a1;
	float: right;
}
.s-right h3:after{
	content: "";
	width: 0;
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
}
.s-right h3 i{
	display: block;
	float: left;
	font-size: .18rem;
	color: #a1a1a1;
}
.s-right h3 em{
	display: block;
	float: left;
	margin-left: .2rem;
	font-size: .18rem;
	color: #a1a1a1;
}
.s-right h4:after{
	content: "";
	width: 0;
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
}
.s-right h4 span{
	display: block;
	width: .6rem;
	height: .26rem;
	background: #ffa0da;
	text-align: center;
	line-height: .26rem;
	font-size: .18rem;
	color: #83506f;
	float: left;
	margin-right: .3rem;
}
.s-right h4 i{
	display: block;
	float: left;
	font-size: .18rem;
	color: #a1a1a1;
}
.s-right h5:after{
	content: "";
	width: 0;
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
}
.s-right h5 span{
	display: block;
	width: .6rem;
	height: .26rem;
	background: #a0f7ff;
	text-align: center;
	line-height: .26rem;
	font-size: .18rem;
	color: #83506f;
	float: left;
	margin-right: .3rem;
}
.s-right h5 i{
	display: block;
	float: left;
	font-size: .18rem;
	color: #a1a1a1;
}
